{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:jsx-a11y/recommended"
  ],
  "plugins": ["react", "react-native", "prettier", "jsx-a11y"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "prefer-destructuring": "off",
    "react/jsx-filename-extension": "off",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true,
        "optionalDependencies": false,
        "peerDependencies": false
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "none",
        "singleQuote": true,
        "printWidth": 100,
        "quotes": ["all", "single"]
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "react-native/no-unused-styles": 2,
    "react-native/no-color-literals": 2,
    "react/jsx-curly-newline": "off"
  },
  "env": {
    "jest": true
  },
  "globals": {
    "fetch": false,
    "navigator": false,
    "__DEV__": false
  }
}